name: Deploy to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Create ZIP file
        run: zip -r lambda-test.zip ./lambda -x "*.git*"

      - name: Upload to S3
        run: aws s3 cp lambda-test.zip s3://${{ secrets.AWS_S3_BUCKET }}/lambda-test-${{ github.sha }}.zip